<div class="products-page">
    <div class="products-con">
        <h1 class="title">Vehicle <span>List</span></h1>
        <div class="btn-con">
            <a class="btn btn-primary" ng-click="vm.addVehicle(vehicles.VehicleType)" ng-repeat="vehicles in vm.products">Add {{::vehicles.VehicleType}}</a>
            <!--<a class="btn btn-primary" ng-click="vm.addVehicle('Bike')">Add Bike</a>-->
        </div>

        <div ng-tabs class="passtab" ng-init="vm.tabs=tabs">
            <div class="tabwrap">
                <ul class="nav nav-tabs">
                    <li ng-tab-head="on" ng-repeat="vehicles in vm.products">
                        <a>{{::vehicles.VehicleType}}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div ng-tab-body class="tab-pane" ng-repeat="vehicles in vm.products">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <span ng-click="vm.sortBy('make')">Make</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'make'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th>
                                    <span ng-click="vm.sortBy('model')">Model</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'model'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th>
                                    <span ng-click="vm.sortBy('engine')">Engine</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'engine'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th ng-if="vehicles.VehicleType==='Car'">
                                    <span ng-click="vm.sortBy('door')">Door</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'door'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th>
                                    <span ng-click="vm.sortBy('wheels')">Wheels</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'wheels'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th>
                                    <span ng-click="vm.sortBy('carType')">Type</span>
                                    <span class="sortorder" ng-show="vm.propertyName === 'carType'" ng-class="{reverse: vm.reverse}"></span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vehicle in vehicles.list | orderBy:vm.propertyName:vm.reverse">
                                <td>
                                    {{vehicle.make}}
                                </td>
                                <td>
                                    {{vehicle.model}}
                                </td>
                                <td>
                                    {{vehicle.engine}}L
                                </td>
                                <td ng-if="vehicles.VehicleType==='Car'">
                                    {{vehicle.door}}
                                </td>
                                <td>
                                    {{vehicle.wheels}}
                                </td>
                                <td>
                                    {{vehicle.carType}}
                                </td>
                                <td>
                                    <a class="btn btn-primary pull-right" ng-click="vm.editVehicle(vehicles.VehicleType, vehicle)">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
